<!DOCTYPE html> 
<html lang = "en">
  <head> 
      <meta charset = "utf-8" /> 
      <title>Chat Screen</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chat.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body> 
    <div class="container">
      <div class="chatbox">
        <div class="top-bar">
          <div class="name">{{result.room.room_name}} <br> {{result.room.id}}</div>
          <div class="icons">
            <i class="fa fa-phone"></i>
            <i class="fa fa-camera"></i>
          </div>
          <div class="menu">
            <div class="dots"></div>
          </div>
        </div>
        <div class="middle">
          <div class="incoming">
            <div class="bubble">Hey, Father's Day is coming up..</div>
          </div>
        </div>
        <div class="bottom-bar">
            <input id="message" type="text" placeholder="Type a message..." />
            <button type="submit" onclick="send()"><i class="fa fa-paper-plane"></i></button>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src = "{{ url_for('static', filename='socket.js') }}"></script>
  </body>
</html>


<!-- <button id="room" onclick="createRoom()">Create Room</button>
      <button id="join" onclick="joinRoom()">Join Room</button>

      <input id="message" type="text" name="message" placeholder="Type your message">
      <button onclick="send()"> Send </button>
      <ul id="msg-list"></ul> -->

        <!-- <button id="room" onclick="createRoom()">Create Room</button>
      <button id="join" onclick="joinRoom()">Join Room</button>

      <input id="message" type="text" name="message" placeholder="Type your message">
      <button onclick="send()"> Send </button>
      <ul id="msg-list"></ul> -->
      <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
      <script src = "{{ url_for('static', filename='socket.js') }}"></script> -->