<!DOCTYPE html> 
<html lang = "en">
   <head> 
      <meta charset = "utf-8" /> 
      <title>Chat Room</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='room.css') }}">
   </head>
	
   <body> 
      <div class="container">
         <h1> Create a Room </h1>
         <form action="/" method="POST">
           <div class="formgroup">
             <input type="text" name="room_name" placeholder="Enter Room Name" required="" />
           </div>
           <div class="formgroup">
             <input type="text" name="description" placeholder="Enter Room Description" />
           </div>
           <div class="formgroup">
             <input type="text" name="name" placeholder="Enter your name" required="" />
           </div>
           <input class="button" type="submit" value="Create Room" />
       </form>
       </div>
   </body> 
</html>