<!DOCTYPE html> 
<html lang = "en">
   <head> 
      <meta charset = "utf-8" /> 
      <title>Chat Room</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='room.css') }}">
   </head>
	
   <body> 
      <div class="container">
         <h1> Join Room </h1>
         <form action="/join" method="POST">
           <div class="formgroup">
             <input type="text" name="room_id" placeholder="Enter Room ID" required="" />
           </div>
           <div class="formgroup">
             <input type="text" id="name" placeholder="Enter your name" required="" />
           </div>
           <input class="button" type="submit" value="Join Room" />
        </form>
       </div>
   </body> 
</html>